body {
    background-color: #064167;
}

.x-action-col-icon {
    cursor: pointer;
}

.column-header-icon .x-column-header-text {
    display: block;
    width: 16px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.edit-task-icon .x-column-header-inner, .delete-icon .x-column-header-inner {
    padding: 0 4px;
}

.priority-icon .x-column-header-inner {
    padding: 0 8px;
}

.edit-task-icon .x-column-header-text {
    background-image: url(../images/icons/edit.png);
}

.delete-icon .x-column-header-text {
    background-image: url(../images/icons/delete.png);
}

.priority-icon .x-column-header-text {
    background-image: url(../images/icons/priority.png);
}

.priority-none {
    color: #d3d3d3;
}

.priority-low {
    color: #fff517;
}

.priority-normal {
    color: #ff9f17;
}

.priority-high {
    color: #d30700;
}

.error {
    color: #fff;
    margin: 15px;
    padding: 15px;
    border: 1px solid #088999;
    background-color: #062f4d;
}