body {
    background-color: #064167;
}

.x-action-col-cell img
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.column-header-icon .x-column-header-text {
    display: block;
    width: 16px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-task-icon .x-column-header-inner, .delete-icon .x-column-header-inner {
    padding: 0 4px;
}

.priority-icon .x-column-header-inner {
    padding: 0 8px;
}

.x-action-col-cell img.edit-task-icon,
.edit-tb-icon,
.edit-task-icon .x-column-header-text {
    background-image: url(../images/icons/edit.png);
}

.x-action-col-cell img.delete-icon,
.delete-tb-icon,
.delete-icon .x-column-header-text {
    background-image: url(../images/icons/delete.png);
}

.create-icon {
    background: url(../images/icons/create.png) no-repeat;
}

.priority-icon .x-column-header-text {
    background-image: url(../images/icons/priority.png);
}

.x-action-col-cell img.priority-none-icon {
    background-image: url(../images/icons/priority_none.png);
}

.x-action-col-cell img.priority-low-icon {
    background-image: url(../images/icons/priority_low.png);
}

.x-action-col-cell img.priority-normal-icon {
    background-image: url(../images/icons/priority_normal.png);
}

.x-action-col-cell img.priority-high-icon {
    background-image: url(../images/icons/priority_high.png);
}

/*
 * Task details styles
 */
.priority-none {
    color: #d3d3d3;
}

.priority-low {
    color: #e5db17;
}

.priority-normal {
    color: #0fc905;
}

.priority-high {
    color: #ff0700;
}

.status-completed {
    color: #0fc905;
}

/*
 * Create task form
 */
.create-task-form .x-form-item {
    margin: 3px 3px 3px 2px;
}
.create-task-form .create-icon {
    background-position: 4px 5px;
}

/*
 * CheckColumn styles
 */
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    line-height: 0;
    padding: 2px 4px;
}

.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 1px;
}

.x-grid-checkheader {
    height: 16px;
    width: 16px;
}

.x-grid-checkheader-inner {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url('../images/icons/check.png') no-repeat 1px 1px;
}

.x-grid-checkheader-checked .x-grid-checkheader-inner {
    background-position: -1px -16px;
}

.x-grid-checkheader-over {
    background: url('../images/icons/check.png') no-repeat 0 -32px;
}

.tasks-done-column-header .x-column-header-inner {
    padding: 0 6px;
}

.tasks-done-column-header .x-column-header-text {
    background: url('../images/icons/check_header.png') no-repeat 0 7px;
}

.tasks-completed-task .x-grid-cell-checkcolumn {
    text-decoration: none;
}

/*
 * Other styles
 */
.error {
    color: #fff;
    margin: 15px;
    padding: 15px;
    border: 1px solid #088999;
    background-color: #062f4d;
}